<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js + MySQL + Filmes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/script/search.js"></script>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li>
                    <a href="/">Lista de Filmes</a>
            </li>
            <li>
                    <a href="/cadastrarMovie">Cadastrar</a>
            </li>
            <li>
                <a href="/movies">Pesquisar Filme</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>