<h1>Pesquisa de Filme por ID</h1>
<div class="movie-page">
    <div class="container">
        <h1>Filme:</h1>
        <h2>{{movie.name}}</h2>
        <p>A avaliação desse filme é de {{movie.avaliacao}}</p>
    </div>
</div>