<h1>Filmes Cadastrados</h1>
<div id="style-search">
    <input type="text" id="search-input" placeholder="Buscar filmes..." />
</div>
<div class="movies-container">
    <ul id="search-results"></ul>
    {{!-- {{#each movies}}
    <div>
        # {{this.id}} - <span class="bold">{{this.name}}</span> - Nota {{this.avaliacao}} 
        <br>
    </div>
    {{/each}} --}}
</div>